# Role: allow listing/getting Pods and HorizontalPodAutoscalers in namespace pi-k3s
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: laravel-app-reader
  namespace: pi-k3s
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list"]
  - apiGroups: ["autoscaling"]
    resources: ["horizontalpodautoscalers"]
    verbs: ["get", "list"]
  - apiGroups: ["metrics.k8s.io"]
    resources: ["pods"]
    verbs: ["get", "list"]
